<?xml version="1.0"?>
<launch>

  <include file="$(find robomuse_gazebo)/launch/robomuse_world.launch"/>
  <!-- Load the URDF into the ROS Parameter Server -->
  <group ns="screen">
    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find robomuse_description)/urdf/screen/screen.xacro'" />


    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
      <remap from="joint_states" to="screen_joint_states" />
    </node>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="join_st_pub" >
      <remap from="joint_states" to="screen_joint_states" />
    </node>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model screen -param robot_description"/>
    <node name="webcam" pkg="robomuse_gazebo" type="webcam.py" respawn="false" />
    <node name="processor" pkg="robomuse_gazebo" type="processor.py" respawn="false" />
    <node name="base_footprint_tf_publisher" pkg="robomuse_gazebo" type="base_footprint_tf_publisher.py" respawn="false" />
  </group>

</launch>
